body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #4CAF50;
    text-align: center; /* Centra el texto en el cuerpo */
}

a {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    color: gainsboro;
    background-color: #00461b;
    padding: 15px;
    text-decoration: none;
    border-radius: 10%;
    font-weight: bold;
}

h1, h2 {
    color: #333;
}

/* Estil taula */
table {
    width: 80%; /* Ajusta el ancho de la tabla */
    margin: 20px auto; /* Centra la tabla horizontalmente */
    border-collapse: collapse;
    background-color: white; /* Color de fondo para la tabla */
    box-shadow: 0 8px 12px rgb(255, 255, 255); 
}

/* Estil Cel·les */
th {
    background-color: #00461b;
    color: gainsboro;
    padding: 10px;
    text-align: left;
}

/* Estilo para las celdas de datos alternadas */
tr:nth-child(even) {
    background-color: rgb(183, 232, 195);
}

/* Estilo para las celdas de datos */
td {
    padding: 10px;
    text-align: left;
}

/* Estilo para resaltar al pasar el ratón sobre una fila */
tr:hover {
    background-color: rgb(165, 241, 102);
    transition: background-color 0.3s;
}
