body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(255, 174, 127);
    text-align: center; /* Centra el texto en el cuerpo */
}

a {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    color: black;
}

h1, h2 {
    color: #333;
}

/* Estil taula */
table {
    width: 80%; /* Ajusta el ancho de la tabla */
    margin: 20px auto; /* Centra la tabla horizontalmente */
    border-collapse: collapse;
    background-color: white; /* Color de fondo para la tabla */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estil Cel·les */
th {
    background-color: rgb(193, 237, 0);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: left;
}

/* Estilo para las celdas de datos alternadas */
tr:nth-child(even) {
    background-color: rgb(183, 193, 232);
}

/* Estilo para las celdas de datos */
td {
    padding: 10px;
    text-align: left;
}

/* Estilo para resaltar al pasar el ratón sobre una fila */
tr:hover {
    background-color: rgb(0, 221, 255);
    transition: background-color 0.3s;
}
